@media screen and (max-width: 500px) {
   .max-font {
       font-size: 24px;
   }
   .largge-font {
       font-size: 16px;
   }

   .middle-font {
       font-size: 14px;
   }

   .min-font {
       font-size: 12px;
   }
}

@media screen and (min-width: 501px) {
   .max-font {
       font-size: 36px;
   }
   .largge-font {
       font-size: 24px;
   }

   .middle-font {
       font-size: 18px;
   }

   .min-font {
       font-size: 12px;
   }
}

